---
layout: default
title: Home
---

<img src="/img/beach.png" style="width: 100%;"/>
<div class="container py-5">
  <div class="row">
    <div class="col-sm-8">
      <h1>11ty Test - With Liquid</h1>
      <p>Here is a quick test with Liquid. I like it more than Nunjucks. The <a href="https://shopify.github.io/liquid/" target="_blank">Liquid Documentation</a> seems to be better organized and easier to follow.</p>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem animi cumque perferendis quisquam totam incidunt vel eaque. Modi laboriosam quisquam fugit deserunt dolorem ducimus, cumque nisi sed. Aperiam, quam incidunt.</p>
      <div class="py-1 px-2 bg-primary text-white">
        .bg-primary
      </div>
      <div class="py-1 px-2 bg-secondary text-white">
        .bg-secondary
      </div>
      <div class="py-1 px-2 bg-warning">
        .bg-warning
      </div>
      <div class="py-1 px-2 bg-dark text-white">
        .bg-dark
      </div>
      <div class="py-1 px-2 bg-medium text-white">
        .bg-medium
      </div>
      <div class="py-1 px-2 bg-light mb-3">
        .bg-light
      </div>

      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem animi cumque perferendis quisquam totam incidunt vel eaque. Modi laboriosam quisquam fugit deserunt dolorem ducimus, cumque nisi sed. Aperiam, quam incidunt.</p>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem animi cumque perferendis quisquam totam incidunt vel eaque. Modi laboriosam quisquam fugit deserunt dolorem ducimus, cumque nisi sed. Aperiam, quam incidunt.</p>
    </div>
    <div class="col-sm-4">
      <h3>
        Blogs
      </h3>
      <p>Read the best of the latest blogs</p>
      {% assign reverseBlog = collections.blogs | reverse %}
      {% for blog in reverseBlog limit:3 %}
        <a href="{{ blog.data.page.url }}" class="btn btn-light text-left btn-block mb-2">
          {{ blog.data.title }}<br />
          <small>{{ blog.date | date: "%B %d, %Y"}}</small>
        </a>
      {% endfor %}
      <a href="/blog">See All Blogs</a>
    </div>
  </div>
</div>