---
layout: default
---

<div class="container mt-3">
  <a href="/blog/">&lArr; All Blogs</a>
  <article>
    <h1>
      {{ title }}
    </h1>
    {{ content }}
  </article>
</div>

<script>
  $(document).ready(function(){
    $('table').addClass("table table-sm table-striped");
    $('.table.table-sm thead').addClass("bg-dark text-white")
  });
</script>