<footer class="bg-primary text-center text-white py-3">
  <img src="https://nathanblaylock.com/img/logo-white-nathan-blaylock-media.svg" class="mb-3" style="max-height: 2em;" />
  <i class="far fa-copyright"></i> <a class="text-white" href="https://nathanblaylock.com" target="_blank">Nathan Blaylock</a>, 2020
</footer>