.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  main {
    flex: 1 0 auto;
  }
}

pre{
  background-color: $dark;
  padding: 10px;
  border-radius: $border-radius;
  code{
    color: $warning;
  }
}