$primary: #680909;
$secondary: #093589;
$light: #f1f1f1;
$warning: #ff8a47;
$medium: #6C757D;

$headings-font-family: 'Alata', sans-serif;
$link-color: $secondary;

$theme-colors: (
  "medium": $medium,
);

$spacer: 1rem;
$spacers:
  (
    0: 0,               
    1: ($spacer * .375),
    2: ($spacer * .75), 
    3: ($spacer * 1),   
    4: ($spacer * 1.25),
    5: ($spacer * 2),   
    6: ($spacer * 4)    
  )